.card {
  background: var(--cor-neutra-fundo-secao);
  border-radius: 12px;
  overflow: hidden;
  text-align: center;
  border: 1px solid var(--cor-neutra-borda);
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.card:hover {
  transform: translateY(-8px);
  box-shadow: 0 10px 20px rgba(0, 82, 255, 0.2);
}

.imageWrapper {
  width: 100%;
  aspect-ratio: 1 / 1;
  position: relative;
  overflow: hidden;
}

.image {
  object-fit: cover;
  transition: transform 0.4s ease;
  width: 100%;
  height: 100%;
}

.card:hover .image {
    transform: scale(1.1);
}

.info {
  padding: 1.5rem;
}

.name {
  font-size: 1.4rem;
  color: #fff;
  margin: 0;
}

.title {
  font-size: 1rem;
  color: var(--cor-primaria-azul);
  margin-top: 0.25rem;
  font-weight: 500;
}